@model HomeViewModel
@{
ViewData["Title"] = "Home";
Layout = "_Layout";
}
<div class="container">
   <div class="row">
      <div class="col">
         <div>
            @Model.Exercises.Count() available exercises!
         </div>
            Muscle Groups:
            <ul>
               @foreach (var mg in Model.Exercises.Select(x=> x.MuscleGroup).Distinct().ToList())
               {
               <li>
                  <input type="checkbox"> @mg
               </li>
               }
            </ul>
         </div>
         <div class="col">
         <div>
            Extra equipment available:
            <ul>
               <li>
                  <input type="checkbox"> Without equipment only
               </li>
               <li>
                  <input type="checkbox"> Dumbbells
               </li>
               <li>
                  <input type="checkbox"> Pull up bar
               </li>
            </ul>
         </div>
         </div>
               <div class="col">
         <div>
           Workout Difficulty:
            <input type="range" min="1" max="5" value="3" class="slider" id="difficulty-slider">
      
         <button>Generate</button>    
             <button onclick="location.href='@Url.Action("Randomize","Home")'">Randomize</button>  
                </div>     
   </div>
      </div>
</div>